language: python
python: 2.7
env:
  - TOX_ENV=py26
  - TOX_ENV=py27
  - TOX_ENV=pypy
  - TOX_ENV=py32
  - TOX_ENV=py33
install:
  - pip install tox
script:
  - tox -e $TOX_ENV
notifications:
  email:
    on_success: never
    on_failure: change
