graft docs
graft examples
prune examples/*/.tox
prune examples/*/htmlcov
prune examples/*/*/htmlcov
prune examples/adhoc-layout/*.egg-info
prune examples/src-layout/src/*.egg-info

graft .github/workflows
graft src
graft ci
graft tests

include .bumpversion.cfg
include .cookiecutterrc
include .coveragerc
include .editorconfig
include .pre-commit-config.yaml
include .readthedocs.yml
include pytest.ini
include tox.ini

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include SECURITY.md

global-exclude *.py[cod] __pycache__/* *.so *.dylib
